
#comments-wrapper .comment .comment-actions {
  .action-link-dot {
    display: none;
  }

  .action-link {
    font-size: 12px;
    text-decoration: none;
    color: #6c757d;
    transition: all 200ms ease-in-out;
    font-weight: 600;

    &:hover {
       color: #333;
    }

    & > svg {
      position: relative;
      top: -2px;
    }

    & + .action-link-dot {
      display: inline-block;
    }
  }
}


/**
 * Toggle Hide
 */
#comments-wrapper.current_user_is_admin {
  .comment.hide {
    background: #f8d7da;
    border-color: #f5c6cb;
    padding: 12px;
    border-radius: 3px;
  }
}
