@import '../variables/breakpoint';
@import '../variables/color';

#comments-wrapper #main-nav {
  .nav-tabs {
    border-bottom: $service-border-width solid $service-border-color;

    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $service-border-color $service-border-color #fff;
      opacity: 1;
    }

    .nav-item:last-child .nav-link {
      padding-right: 0;
      border-color: transparent !important;

      @include media-breakpoint-down(sm) {
        text-align: right;
        width: 50%;
      }
    }

    .dropdown-menu {
      font-size: 14px;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    .nav-link {
      border-width: $service-border-width;
      margin-bottom: -$service-border-width;
      font-size: 14px;
      color: #495057;
      opacity: .7;

      &:hover {
        opacity: 1;
      }

      .main-nav-icon {
        font-size: 18px;
        line-height: 1;
        margin-right: 3px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 12px;

        .main-nav-icon {
          font-size: 14px;
        }
      }
    }
  }
}
