<footer class="container-fluid bg-dark text-white py-4">
  <div class="container">
    <nav class="nav">
      <%= link_to '이용약관', terms_path, class: 'nav-link text-white pl-0' %>
      <%= link_to '개인정보처리방침', privacy_path, class: 'nav-link text-white' %>

      <%= link_to 'YAC', root_path, class: 'nav-link text-white pr-0 ml-auto font-weight-bold', style: 'font-size: 2rem' %>
    </nav>

    <ul class="nav text-white-50 small">
      <li class="nav-item"><p class="">YAC 2020 &copy;</p></li>

      <li class="nav-item ml-auto">
        <p class="text-right">
          <span class="text-capitalize">plugin 4 &raquo; your awesome comment</span>
          <span class="d-block">Powered by GOMI</span></p>
      </li>
    </ul>
  </div>
</footer>
