<style>
  p {
    margin-bottom: 20px;
  }
  td,th {
    padding: 10px;
  }
  th {
    background-color: #b3b3b3;
  }
</style>
<div style="padding: 30px;">
<h1>Terms of Service</h1>
<p>
  Please read these terms carefully before using YAC service operated by GOMI as a website owner, commenter, or a
  visitor of a website that uses YAC.
</p>

<h2>Rights for All</h2>
<p>By "All", we mean website owners, comments, and visitors of our client websites.</p>
<ul>
  <li>Your privacy is protected, and we will not share your data with any third parties unless required by law
    enforcement or it is mandatory to protect our safety and rights.
  </li>
</ul>

<h2>Website Owners' Rights</h2>
<ul>
  <li>You can use YAC on any website except legally unacceptable websites.</li>
  <li>You have the right to not to have any advertisements, affiliate links, or any other third-party tracking codes
    placed on your website by us.
  </li>
  <li>You own the data. You can export them at any time.</li>
  <li>Your data is daily backed up.</li>
  <li>You have the right to get access to all current and future features of your currently subscribed plan as described
    on our plans page.
  </li>
  <li>
    You can stop using our service at any time.
    <ul>
      <li>
        Delete all your websites. You can request us to restore the websites within 30 days if you want to use the
        service again. After 30 days, all the data, including pages, comments, and other meta, will be permanently
        deleted from our databases.
      </li>
      <li>Cancel your subscription from the console.</li>
    </ul>
  </li>
  <li>If you use Single Sign-on, you can delete all of your data by contacting us via email.</li>
  <li>
    You have the right to an explanation of any service outage or any other incidence related to your websites or
    accounts.
  </li>
  <li>You have the right to ban any user or IP address from your website under any circumstances.</li>
  <li>
    You are recommended to take action to ensure that your visitors are aware of their privacy rights when using our
    service.
  </li>
</ul>

<h2>Commenters' Rights and Responsibilities</h2>
<ul>
  <li><strong>You should obey the commenting guidelines provided by each website.</strong></li>
  <li>You should not use YAC for spamming.</li>
  <li>You have the right to delete your comments at any time.</li>
  <li>You should not include sensitive information such as passwords, credit card information in the comments.</li>
</ul>

<h2>Our Rights</h2>
<ul>
  <li>
    We have the right to ban any account or IP address if it is used for spamming, violence, or personal harassment,
    or similar unacceptable activities.
  </li>
  <li>
    We have the right to ban a website if the website owner violates our terms (We may send an email notification
    before that).
  </li>
  <li>Any disputes will be settles under Korean law.</li>
</ul>
</div>
