<%= render layout: 'layouts/service/page/with-side-menu-bar' do %>
  <div class="card">
    <div class="card-header p-4 bg-white text-dark">
      <h1 class="h4">New Admin Permission</h1>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-muted"><%= @organization.name %> > New</small>
        <div class="text-muted">
        </div>
      </div>
    </div>

    <%= render 'form', admin_permission: @admin_permission, url: organization_admin_permissions_path(@organization.id) %>
  </div>
<% end %>
