<div id="organization-index-container" class="card shadow border-0">
  <div class="card-header bg-dark py-3 px-4">
    <h1 class="h2 text-white d-inline-block">New Organization</h1>

    <div class="d-inline-flex align-items-center text-white float-right mt-1">
      <%= image_tag current_user.image_url, width: 30, height: 30, class: 'rounded-circle mr-2' %>
      <p class="m-0"><%= current_user.name %></p>
    </div>
  </div>

  <div class="card-body p-4">
    <%= render 'form', organization: @organization %>
  </div>
</div>

<br />

<%= link_to 'Back', organizations_path %>
