<footer class="container-fluid bg-light border-top text-dark fixed-bottom py-3">
  <div class="container">
<!--    <nav class="nav">-->
      <%#= link_to '이용약관', terms_path, class: 'nav-link text-white' %>
      <%#= link_to '개인정보처리방침', privacy_path, class: 'nav-link text-white' %>

      <%#= link_to 'YAC', root_path, class: 'nav-link text-white ml-auto font-weight-bold', style: 'font-size: 2rem' %>
<!--    </nav>-->

    <ul class="nav text-dark small">
      <li class="nav-item">
        <p class="m-0">YAC 2020 &copy;</p>
      </li>

      <li class="nav-item ml-auto">
        <ul class="nav">
          <li class="nav-item">
            <p class="text-right m-0">
              <span class="text-capitalize">plugin 4 &raquo; your awesome comment</span>
              <span class="d-inline-block">Powered by GOMI</span>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
