<%
  path = path
  icon = icon
  text = text
%>
<li class="border-top">
  <a class="dropdown-item" href="<%= path %>">
    <% if icon %>
      <span class="icon text-muted mr-2"><i class="<%= icon %>"></i></span>
    <% end %>
    <span><%= text %></span>
  </a>
</li>
