@import '~bootstrap/scss/bootstrap';
@import './actiontext';

@import './generic/font';
@import './generic/button';

html,
body {
  height: 100%;
  font-size: 14px;
}

.focus-init {
  &:focus,
  &.focus {
    outline: none;
    box-shadow: none;
  }
}

.dropdown-menu-fit {
  left: -4px !important;
  right: 4px !important;
}
.dropdown-item {
  &.active,
  &:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
  }

  &.dropdown-item-muted {
    $theme-color: #6c757d;
    color: $theme-color;

    &.hover,
    &:hover {
      color: $theme-color;
      text-decoration: none;
      background-color: lighten($theme-color, 50%);
    }

    &.active,
    &:active {
      color: $theme-color;
      text-decoration: none;
      background-color: lighten($theme-color, 40%);
    }
  }
}

.shadow2 {
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px;
}

.icon {
  position: relative;
  top: 1px;
  margin-right: 1px;
}




@import './service/nav';

@import './service/organizations';
@import './service/comments';
