<h6 class="pl-3 text-muted text-uppercase" style="font-size: 11px"><%= title %></h6>

<% if block_given? %>
  <div class="card">
    <div class="list-group list-group-flush">
      <%= yield %>
    </div>
  </div>
<% end %>

<br>
