<%= render layout: 'layouts/service/page/with-side-menu-bar' do %>
  <div class="card">
    <div class="card-header p-4 bg-white text-dark">
      <h1 class="h4"><%= @site.name %></h1>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-muted"><%= @site.domain %></small>
        <div class="text-muted">
          <small class="d-block"><span class="text-uppercase">since: </span> <%= l @site.created_at %></small>
        </div>
      </div>
    </div>

  </div>

  <br>
<% end %>
